
h1 {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 60px;
  margin: 1px;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 37px;
  margin: 1px;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 60px;
  margin: 1px;
}

.container {
  display: flex; /* Enables flexbox layout */
  align-items: center; /* Centers items vertically along the cross-axis */
  justify-content: center; /* Centers items horizontally along the main axis */
  gap: 20px; /* Provides space between the text-wrapper and the image */
  height: 150px; /* Important: Container needs a defined height for vertical centering to be visible */
  border: 1px solid #ccc; /* Optional: adds a border to visualize the container */
}

.text-wrapper p {
  margin: 0; /* Removes default paragraph margins */
}

.bonfireLogo {
  /* You can set specific image dimensions here */
  width: 150px;
  filter: brightness(0%); 
  height: auto;
}
